@font-face {
    font-family: 'TT Norms';
    src: url(../font/TTNorms-Regular.woff) format('woff'),
        url('../font/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Bold.woff') format('woff'),
        url('../font/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$lightgrey: #B3B3BA;
$blue: #24A3FF;

body {
    font-family: 'TT Norms';
}

.intro-sect {
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);;
    padding: 100px 0;  
}


.navbar-absolute {
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 3;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 700;

    @media (max-width: 992px) {
        color: black;
        text-align: center;
    }
}
.navbar>.navbar-flex {
    display: flex;
    flex-wrap: wrap;
}
.navbar-top-line{
    order: 2;
    width: calc(100% - 400px);
    margin: -30px 0 0 auto;
    justify-content: flex-end;
    display: flex;
    list-style: none;

    @media (max-width: 1198px) {
        width: auto;
    }

    
   
    .fa-facebook {
        color: white;
        font-size: 24px;
    }
    &-item {
        color: white;
        margin: 0 10px;

        &:last-of-type {
            margin-right: 0;
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            @media (max-width:992px) {
                color: #B3B3BA;

            }
        }
    }
    &-lang {
            a {
                padding: 5px 7px;

            }
            .active {
                background-color: #F0145A;

                @media (max-width:992px) {
                color: white;
            }
            }
    }
    }

.navbar-brand {
    order: 1;
}

.navbar-toggler {
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-brand-additional {
    color: #323264;
    font-size: 38px;
    line-height: 1;

    @media (max-width: 1280px) {
        font-size: 20px;
        margin-top: 5px;
    }
    @media (max-width: 400px) {
        font-size: 18px;

    }

    &:before, &:after {
        content: "";
        background-image: url(../img/nav-logo-2-before.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 46px;
        width: 21px;
        display: inline-block;
        vertical-align: middle;
        margin-right: -10px;

        @media (max-width: 1280px) {
            // width: 30px;
            // height: 15px;
         
        }
        @media (max-width: 400px) {
            margin-top: -5px;
            width: 11px;
            height: 24px;
            margin-right: -5px;
        }

    }
    &:after {
        background-image: url(../img/nav-logo-2-after.svg);
        width: 41px;
        margin-right: 0;
        

        @media (max-width: 1280px) {
            // width: 25px;
            margin-left: -5px;
        }
        @media (max-width: 400px) {
            margin: -5px 0 0;
            
            
        }
    }
}





.navbar-collapse {
    order: 3;
}
.navbar-nav {
    margin-top: -30px;
    @media (max-width:992px) {
        margin-top: 10px;
        background-color: rgba(255,255,255,0.9);
    }
}



.services {
    margin: 100px 50px;
}
.services-header-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.5;
}
@mixin gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bold;
}
.services-h2 {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 30px;

    @media (max-width: 400px) {
        font-size: 32px;
    }
}
.service-subtitle {
    color: #24A3FF;
    margin-top: 20px;
    font-size: 24px;
}
.intro-text {
    color: white;
    font-size: 18px;
}
.services-card a {
    text-decoration: none;
}
.services-card:nth-of-type(2) {
    margin-bottom: 50px;
}

.home-h1 {
    font-size: 38px;
    text-align: center;
    width: 500px;
    color: white;
    font-weight: 500;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 750px) {
        width: 90%;
    }
}

.intro-scroll-down {
        display: flex;
        margin: auto;
}
.intro-main-text {
    position: relative;
    width: 700px;
    height: 700px;
    margin: auto;
    background-image: url(../img/intro/Pattern-Splash.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    

    

    @media (max-width: 750px) {
        width: 90%;
        height: 500px;
    }
    @media (max-width: 540px) {
        height: 400px;
    }
    .intro-main-logo {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 750px) {
            width: 90%;
        }
    }
}

.vert-slider-container {
    max-height: 320px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 40px; 
}
.vert-slider-text, .vert-slider-heading {
    color: white;
    
}
.vert-left {
    min-width: 45%;
    text-align: right;
    .swiper-h2 {
        @include gradient;
        cursor: pointer;
        user-select: none;
    }
}
.vert-right {
    min-width: 55%;
    max-height: 320px;

    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 320px;
    }
}
.vert-slider-content {
    padding: 40px;

}
.vert-slider-heading {
    font-size: 32px;
    margin-bottom: 20px;
}


// team-section

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px 60px;

    &-tittle {
        width: 70%;
        height: 200px;
        margin-bottom: 80px;
    }

    &-img {
        border-radius: 12px;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-card {
        width: 28%;
        display: flex;
        flex-direction: column;

        &-tittle {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            align-items: center;
        }
        &-subtittle p {
            margin: 0;
        }
        &-name {
            font-size: 18px;
            color: #323264;
        }
        &-post {
            font-size: 16px;
            color: #B3B3BA;
        }

    }
    &-card:nth-of-type(3n-1) {
        margin: 0 40px;
    }
    &-card:nth-of-type(1n+4) {
        margin-top: 40px;
        margin-bottom: 60px;
    }

   
    

    
}

// team-section end

// carousel-team
.team-carous {
    margin: 40px 40px 80px;
}
.carousel-team-slide {
    display: flex;
    align-items: flex-start;
    background-color: #F5F5FA;
    border-radius: 12px;
}
.carousel-team-text {
    padding: 40px;
}
.carousel-team-subheading {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #24A3FF;
    margin-bottom: 0;
    text-decoration: none;
    cursor: pointer;

    &:after {
        content: "";
        background-image: url(../img/carous/Vector2.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 7px;
    }

}
.carousel-team-heading {
    font-weight: bold;
    font-size: 42px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    line-height: 1.2;
}
.carousel-team-name {
    font-size: 18px;
    color: $lightgrey;
    margin-bottom: 5px;
}
.carousel-team-role {
    color: $lightgrey;
    margin-top: 5px;
}
.carousel-indicators {
    bottom: -60px;

    [data-bs-target] {
        background-color: #24A3FF;
        opacity: .2;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 0 7px;
        
    }
    .active {
        opacity: 1;
    }
}  
.carousel-team-img-small {
    display: none;
    @media (max-width: 992px) {
        display: block;
    }
}
.carousel-team-text-info {
    @media (max-width: 992px) {
        display: flex;
    }
}

// about

.about-container {
    width: 98%;
}

.second-page {
    .navbar-absolute {
        position: static;
        margin: 50px 0 80px;

    }
    .navbar-top-line {
        width: calc(100% - 410px);

        @media (max-width: 1280px) {
            width: calc(100% - 317px);
        }

        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-brand {
        display: flex;
        align-items: flex-start;
        & img{
            @media (max-width: 400px) {
                max-width: 80px;
            }
        }


    }
    .navbar-light .navbar-nav .nav-link {
        color: $blue;
        padding: 0;
        margin: 0 10px;
    }


    .navbar-nav .active .nav-link {
        color: #F0145A;
        border-bottom: 2px solid #F0145A;
    }

    .nav-item {
        @media (max-width: 992px) {
            display: flex;
            
        }
    }


}
.achievement-sect {
    background-color: #F5F5FA;
    padding: 1px 0 50px;
    max-width: 99%;
}
.achievement-item {
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding: 25px;
}
.achievement-slider {
    max-width: 1320px;

    .swiper-wrapper {
        padding-bottom: 30px;
    }
    .swiper-pagination {
        bottom: -5px;
        &-bullet {
            width: 16px;
            height: 16px;
            margin: 0 8px;
            background: #24A3FF;
            opacity: 0.2;

            &-active {
                opacity: 1;
            }
        }
    }
}
.navbar-top-line-item, .navbar-top-line-item a, .navbar-top-line .fa-facebook {
    color: $lightgrey;
    &.active {
    color: white;
        }
    }
.about-achiev-point-top {
    display: flex;
    align-items: center;

    .about-achiev-point-img {
        margin-right: 10px;
    }

    .about-achiev-point-heading {
        margin-bottom: 0;
        @include gradient;
        font-size: 36px;

    }
}
.about-photo {
    margin: 100px auto;
    max-width: 100%;
}

//services
.services-page {
    .services-container {
    background: linear-gradient(180.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 1px;
    position: relative;
    z-index: 1;
    }
    .navbar-absolute {
        margin: 0 0 80px;
        padding-top: 40px;
    }

    .navbar-brand-additional {
        color: white;
    }
    .navbar-light .navbar-nav .nav-link  {
        color: #FFFFFF;

    }
    .navbar-nav .active .nav-link {
        border-bottom: 2px solid #FFFFFF;
    }
    .navbar-nav {
        background-color: transparent;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .cases-sect {
        margin: 40px 0 30px;
    }

    .service-sect {
        display: flex;
        flex-direction: column;
        align-items: center;

        

        h2 {
            margin-top: 20px;
        }
        

        &-head {
            margin: 0 20vw;
            text-align: center;

            

            @media (max-width: 600px) {
                margin: 0 20px;
                text-align: start;
                
                
            }

            &-text {
                font-size: 21px;
                line-height: 143%;
                color: #FFFFFF;

                @media (max-width: 600px) {
                    font-size: 18px;
                }

                
            }
        }
        .service-btn {
            margin: 40px 0 80px;

            @media (max-width: 600px) {
                margin-left: calc(50% - 140px);
            }

            
        }

        &-body {
            margin: 0 12vw 100px;
            border-top: 4px solid rgba(255,255,255,.5);

            @media (max-width: 600px) {
                margin: 0 20px 40px;
            }
            


            & h4 {
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
                padding: 20px 0;
            }
            &-text {
                font-size: 18px;
                line-height: 144%;
                color: #FFFFFF;

                @media (max-width: 600px) {
                    font-size: 18px;
                }

                &::before {
                    content: "";
                    background-image: url(../img/services/Dot-separator.svg);
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translate(-30%, -30%);
                    margin-left: -6px;
                    
                    
                }
            }

            &-columns {
                display: flex;

                @media (max-width: 600px) {
                    flex-direction: column;
                    
                }
            }
            &-column {
                max-width: 500px;

                @media (max-width: 600px) {
                    max-width: 100%;
                }

                &:first-of-type {
                    margin-right: 50px;
                    padding-left: 15px;

                    @media (max-width: 600px) {
                        margin-right: 0;
                        padding-left: 0;
                    }
                }
            }
            

        }
    }
    

    
}
.service-btn {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 16px;
    font-weight: 700;
    width: 250px !important;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: white;
        color: $blue;
    }
}
.navbar-brand-logo {
    @media (max-width: 400px) {
            width: 80px;   
        }
}

.service-background-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
}
//team-member
    

    .team-member {
        display: flex;
        margin: 200px 12% 80px;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 620px) {
            margin: 200px 20px 40px;
        }


        &-img {
            width: 35%;
            @media (max-width: 992px) {
                width: 50%;
            }
            @media (max-width: 620px) {
                width: 100%;
            }
            
           
        }
        &-img img {
            width: 100%;
            
        }

        &-info {
            width: 65%;
            display: flex;
            flex-direction: column;
            margin-left: 40px;

            @media (max-width: 992px) {
                margin-left: 0;
                width: 100%;
            }
            
            


            &-heading {
                display: flex;
                flex-direction: column;
                border-bottom: 4px solid #E6E6F0;
                margin-top: 20px;
            }
            &-heading .services-h2 {
                margin-bottom: 10px;
            }

            &-subheading {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                @media (max-width: 620px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                
            }
            &-subheading p, a {
                font-size: 16px;
                line-height: 22px;
                color: #B3B3BA;
                margin: 0;

            }
            
            &-subheading a {
                line-height: 19px;
                color: #24A3FF;
                text-decoration: none;
                &:first-of-type {
                    margin: 0 25px;

                    @media (max-width: 620px) {
                        margin: 10px 0;
                    }
                }
                &:hover {
                    content: "";
                    text-decoration: underline;
                }

            }
            &-body {
                margin-top: 40px;
            }

        }

        
    }
    .member-text {
        font-size: 18px;
        line-height: 26px;
    }
    .h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
    }


//cases sect
.cases-sect-subheading {
    background-color: #F5F5FA;
    padding: 20px;
    border-radius: 12px 12px 0 0;
}
.cases-sect-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 2px;
    border-radius: 0 0 12px 12px;

    .cases-card-item {
        background-color: #F5F5FA;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 20px;
        flex-basis: 33%;

        &-link {
            color:  #686887;
            font-size: 24px;
            text-decoration: none;
            
        }
        &-company {
            color: $lightgrey;
            font-size: 18px;
            margin: 20px 0 0;
        }
        &:nth-of-type(4) {
            flex-basis: 25%;

            @media (max-width: 576px) {
                flex-basis: 100%;
            }
        }
        &:nth-of-type(5) {
            flex-basis: 35%;

            @media (max-width: 576px) {
                flex-basis: 100%;
            }
        }
        &:nth-of-type(6) {
            flex-basis: 39%;

            @media (max-width: 576px) {
                flex-basis: 100%;
            }
        }

        @media (max-width: 576px) {
            flex-basis: 100%;
        }
    }
}
.section-subheading {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F0145A;
    margin-bottom: 0;
    
}


// logo-sect

.logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // column-gap: 20px;
    // row-gap: 40px;
    max-width: 1440px;
    margin: auto;

    @media (max-width:768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width:576px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:400px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.logo-sect-img {
    width: 100%;
}
.section-heading {
    text-transform: uppercase;
    color: #323264;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}




//publications-sect

.publicat-sect {
    background: #F5F5FA;
    border-radius: 12px 12px 0px 0px;
    .nav {
        justify-content: center;
        
    }
    .nav-item {
        padding: 3px;
        background-color: #E6E6F0;
        margin: 40px 0;

        &:first-of-type {
        border-radius: 12px 0 0 12px;
        }
        
        &:last-of-type {
            border-radius: 0 12px 12px 0;
        }
    }
    .active {
        border-radius: 10px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: black;
        background-color: white;
    }
    .nav-link {
        color: black;
    }
    .news-sect, .company-sect {
        margin: 0 60px;

        @media (max-width: 600px) {
            margin: 0 20px;
        }
    }
    .publications-container {
        height: auto;
        padding-top: 0;

        &::after {
            content: none;
        }
    }
    .publications-item {

        
        &-top {
            border-bottom: none;
            padding: 20px;
        }
        &-date {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 4px solid #E6E6F0;

            @media (max-width: 400px) {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
            
        }
        &-text p {
            @media (max-width: 400px) {
                display: none;
            }
        }
    }
    .adaptive-hide {
        @media (max-width: 400px) {
            display: none;
        }
    }
    .publications-hidden {
        height: 0;
        overflow: hidden;
    }
    .publications-reveal {
        height: auto;
        overflow: auto;
    }
    .publications-more {
        width: 250px;
        position: static;
        left: auto;
        transform: translateX(0);
        
    }
    .div-btn-position {
        display: flex;
        justify-content: center;
        margin: 40px 0 60px;
    }
    .row {
        @media (max-width: 600px) {
            margin: 0;
        }
    }
    .col-md-4 {
        @media (max-width: 600px) {
            padding: 0;
        }
    }
    .cases-sect {
        background-color: white;
        margin: 40px 0;
    }
}

.publications-more {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

// potom ubrat padding-bot: 
.publications-sect {
    padding-bottom: 200px;
    padding-top: 40px;
    background-color: #F5F5FA;
}

.publications-container {
    padding-top: 40px;
    height: 750px;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        height: 200px;
    }
}

.publications-open {
    height: auto;

    &::after {
        display: none;
    }
}
.publications-item-top {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 4px solid #e6e6f8;
}
.publications-item {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 40px;

    &-img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}
.publications-item-heading {
    font-size: 18px;
    color: rgba(36, 163, 255, 1);
    display: block;
    margin-bottom: 10px;
    text-decoration: none;


}

.publication-item-text {
    padding: 20px;

    p {
        margin-bottom: 0;
    }
}
.publications-item-date {
    color: $lightgrey;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    font-weight: 700;
}

// contacts
.contact-sect {
    display: flex;
    flex-direction: column;
}
.contact-cols {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;

    @media (max-width: 700px){
        flex-direction: column;
        margin-bottom: 40px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        @media (max-width: 700px){
            width: 90%;
            margin: 20px 20px 40px;
        }



        &-number, &-adress, &-sm {
            border-bottom: 4px solid #E6E6F0;
            font-size: 21px;
            padding: 20px 0;
            
        }
        &-number, &-adress {
            color: #323264;

            & a {
                text-decoration: none;
                color: $blue;
            }
        }
        &-sm {
            display: flex;
            align-items: center;
            border: none;
        }
    }
    .contact-fb-icon i {
        font-size: 38px;
        margin-right: 10px;
        color: $blue;
    }
    .contacts-text-sm {
        text-decoration: none;
        color: $blue;
    }

    &-right {
        background: #F5F5FA;
        border-radius: 12px;
        padding: 20px;

        & input, textarea {
            outline: none;
            border-radius: 8px;
            border: none;
            width: 100%;
            padding: 10px;
            
        }
        & input::placeholder {
            color: #B3B3BA;
            opacity: 1; 
            transition: opacity 0.3s ease;
            }
        & input:focus::placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        & textarea::placeholder {
            color: #B3B3BA;
            opacity: 1; 
            transition: opacity 0.3s ease;
            }
        & textarea:focus::placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        & textarea {
            margin: 20px 0;
        }
  
    }
}
.contact-form {
    & h2 {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bold;
    }

    & p {
        text-transform: uppercase;
        color: #B3B3BA;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;

    }
    &-submit {
        display: flex;
        justify-content: center;

        .contact-form-btn {
            background: #24A3FF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            border: 0;
            color: white;
            padding: 16px;
            font-weight: 700;
            width: 250px !important;
            text-align: center;
    
            &:hover {
                background: white;
                color: $blue;
            }
    }
}
}
.contact-input-email {
    margin: 20px 0;
}

        





// footer
    .footer {
        padding: 30px 60px 40px;
        background: #F5F5FA;
        border-radius: 0px 0px 12px 12px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 570px) {
            padding: 20px 20px 120px;
        }

        
        
        

        &-col-right p {
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            color: #B3B3BA;

            @media (max-width: 570px) {
                text-align: center;
            }
        }

        &-col-left-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 570px) {
                flex-direction: column;
            }
            

            
            .fab, .far {
                font-size: 38px;
                
            }
            & p {
                font-size: 16px;
                line-height: 19px;
                color: #323264;
                margin: 0 30px 0 0;

                @media (max-width: 570px) {
                    margin: 0 0 10px;
                }
            }
            &:first-of-type {
                margin-bottom: 25px;

                @media (max-width: 570px) {
                    margin-bottom: 0;
                }
            }

            & a::before {
                content: "";
                background-image: url(../img/Dot.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 6px;
                height: 6px;
                display: inline-block;
                transform: translateY(-50%);

                @media (max-width: 570px) {
                    content: none;
                }
            }
            .fb-icon::before {
                content: none;
            }
            .fb-icon {
                @media (max-width: 570px) {
                    margin: 20px 0;
                }
            }
        }
        &-link {
            text-decoration: none;
            color: #24A3FF;
            line-height: 19px;
            font-weight: bold;
            font-size: 16px;

            &:first-of-type {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &:nth-of-type(2) {
                color: #46466E;
            }
            &:nth-of-type(3) {
                @media (max-width: 570px) {
                    margin: 20px 0;
                }
            }

        }
    }
    




@media (max-width: 992px) {
    .services {
        margin: 45px 50px;
    }
    .navbar-top-line {
        width: 100%;
        margin: 0 0 20px 0;
        justify-content: space-between;
        order: initial;
        padding: 0;

        &-item {
            margin: 0;
        }
    }
    .navbar-brand {
        order: initial;
    }
    .navbar-top-line-item:nth-last-of-type(1), .navbar-top-line-item:nth-last-of-type(3) {
        display: none;
    }
    .team-tittle {
        width: 90%;
    }
    .carousel-team-img {
        display: none;
    }
    .carousel-team-heading {
        font-size: 32px;

        @media (max-width: 400px) {
            font-size: 20px;
            
        }
    }

}

@media (max-width: 777px) {
    .team-tittle {
        margin-bottom: 50px;
    }
    .team-tittle .services-h2 {
        font-size: 35px;
    }
    .team-cards {
        justify-content: space-around;
    }
    .team-card {
        width: 40%;
        margin: 20px;
    }
    .team-card:nth-of-type(1n+4), .team-card:nth-of-type(3n-1){
        margin: auto;
    }
    
}

@media (max-width: 650px) {
    .services {
        margin: 45px 10px;
    }
    .row {
        flex-direction: column;
        width: 99%;
    }
    .row-cols-3>* {
        width: 100%;
    }
    .services-card:nth-of-type(2) {
        margin-bottom: 0;
    }
    .team {
        margin: 0 20px 40px;

        &-tittle {
            margin-bottom: 0;
            height: auto;
        }
    }
    .team-tittle .services-h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
}
//начал
@media (max-width: 510px) {
    .team-tittle .services-h2 {
        font-size: 25px;
    }
    .team {
        align-items: flex-start;
        

        &-cards {
        flex-wrap: nowrap;
        flex-direction: column;
        }
        &-card {
        width: 100%;
        flex-direction: row;
        }
        &-card-tittle, &-img {
        width: 47%;
        }
        &-card-tittle {
        margin-left: 20px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        }
        &-card-link {
        margin-top: 10px;
        }

    .team-card, .team-card:nth-of-type(1n+4), .team-card:nth-of-type(3n-1) {
        margin: 20px 0 0 0;
    }
    .regalia {
        display: none;

    }
}

    
}

@media (max-width: 360px) {
    .team-tittle .services-h2 {
        font-size: 18px;
    }
    .team-card-name {
        font-size: 14px;
    }
    .team-card-post {
        font-size: 13px;
    }
}
@media (max-width: 300px) {
    .team-card-tittle {
        margin-left: 5px;
    }
    .team-card-name {
        font-size: 13px;
    }
    .team-card-post {
        font-size: 12px;
    }
    .team {
        margin: 250px 20px 40px;
    }
}


